# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules
.angular/cache
cache
babel-webpack
angular-webpack

# Ignore all text files
*.txt
*.zip

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache